.separatore {
    width: 100% ;
    height: 10px ;
    background-color: white ;
}

.container {
    /*debug*/
    background-color: cadetblue;
}

.row {
    /*debug*/
    background-color: cornsilk ;
}

.box {
    /*debug*/
    width: 100% ;
    height: 50px ;
    border: 1px solid black ;
    background-color: darkgrey ;
    text-align: center ;

}